*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar {
	background-color: black !important;
	color: white !important;
}

.nav-item a {
	color: white !important;
}

.nav-item{
	padding-left: 2px;
}

.navbar-brand {
	padding-left: 100px;
}

.navbar-brand-pre {
	color: white !important;
}

.navbar-brand-post {
	color: red !important;
}

#navbar button{
	background-color: white !important;
}

/* brand */

#brand-container {
	color: black !important;
	padding: 80px;
}

#brand-row img{
	max-height: 300px;
	height: auto;
	display: block;
	padding-left: 30px;
}

#brand-row h3 {
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}

#brand-row p {
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
}

#brand-col{
	padding-left: 20px;
}

/* application */
#application {
	background-color: ghostwhite;
	padding-top: 80px;
	padding-bottom: 80px;
}

#application h1 {
	padding-bottom: 70px;
}

#application-container {
	color: black !important;
	padding: 80px;
}

#application-row img{
	max-height: 250px;
	height: auto;
	display: block;
	padding-left: 30px;
}

#application-row h3, #application-row p {
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}

/* privacy */
#privacy {
	padding-top: 80px;
	padding-bottom: 80px;
}

#privacy-row {
	align-items: center;
	justify-content: center;
}

#privacy-col1 {
	width: 60%;
	white-space: pre-wrap;
}

#privacy h1 {
	padding-bottom: 70px;
}

/* contact */

#contact {
	padding: 80px;
}

	#contact h1 {
		padding-bottom: 70px;
	}

#contact-col ul {
	padding-top: 50px;
	padding-left: 50px;
}

#contact-col ul li {
	padding-top: 15px;
}
